/* util */
.pt{
    padding-top: 32px ;
}
.pr{
    padding-right:  24px ;
}
.pb{
    padding-bottom:  80px ;

}
.pl{
    padding-left: 24px;
}
/* END */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-family:Fraunces,Barlow,sans-serif;
}
h1,h2,h3{
    font-family: Fraunces;
}
h1{

font-size: 40px;
color: white;
}
h2{
color: #24303E; 
font-weight: 900;
font-size: 32px;
line-height: 39px;
text-align: center;
letter-spacing: -0.228571px;
}
h3{
    color: #19536C;
    
}
p{  
    font-family: Barlow;
    color:hsl(232, 10%, 55%)

}
.learn-more-links{
   
font-weight: 900;
font-size: 15px;
line-height: 167%;
/* text-decoration: underline; */
/* identical to box height, or 167% */

letter-spacing: 1px;
text-transform: uppercase;
color: #24303E;
}
a{
    text-decoration: none;
    color:hsl(232, 10%, 55%)
}
body{
    height: 100%;
    /* background-color: brown; */
     /* background-image: url('../design/mobile-design.jpg'); */
     /* opacity: .0;  */
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.nav-links
{
    display: none;
    text-align: center;
    list-style: none;
    width: 100%;
    
}
.contact-link{
    font-weight: bold;
    color: #24303E;
    background-color: #FBD600;
    border-radius: 50rem;
    padding: 16px 32px;
    width: 140px;
}
.landing{
    background-image: url('../images/mobile/image-header.jpg');
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 538px;

}
.landing-content-container{
text-align: center;
font-weight: 900;
line-height: 49px;
letter-spacing: 6.25px;
text-transform: uppercase;
margin: 90px 0px;
}
.arrow{
    /* padding-bottom: 25px; */

}

/* main - content */
main{
   
    
}

.grid{
    
    display: grid;
    grid-template-columns:100%;
    
} 
.row-top,
.row-mid{
  
    font-style: normal;
    font-weight: 600;
    line-height: 167%;
    /* or 167% */
    text-align: center;
    letter-spacing: -0.128571px;
  
    height: 749px;

}
.row-top-text,
.row-mid-text{
    
    padding-top:64px ;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.row-top-text p,
.row-mid-text p{margin: 24px 0 32px 0;}
.img-container{
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.egg-img-container{
    height: 312px;
 
    background-image: url('../images/mobile/egg.jpg');
  
}
.cup-img-container{
    height: 312px;
    background-image: url('../images/mobile/cup.jpg');
    
}
.row-btm{
    height: 1200px;
    
}
.row-btm-design{
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.row-btm-content{
padding-bottom: 60px;
    height:600px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.row-btm-content h3{
font-weight: 900;
font-size: 28px;
line-height: 35px;
/* identical to box height */
padding-bottom: 27px;
text-align: center;
letter-spacing: -0.2px;

/* color: #24554A; */
}
.row-btm-content p{
 
    
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */
    
    text-align: center;
    letter-spacing: -0.114286px;
    
    /* color: #24554A; */
    }

.cherry-img-container{
 background-image: url('../images/mobile/card_cherry.jpg');
}
.orange-img-container{
    background-image: url('../images/mobile/card_orange.jpg'); 
}

.testimonials{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 1108px;
}
.testimonials h4{
    
width: 279px;
height: 20px;


font-weight: 900;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 4px;

color: #A7AAAD;

}
.client-card{
    height: 288px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

.client-card img{
width: 72px;
border-radius: 50rem;
}
.client-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    
    
    letter-spacing: -0.128571px;
    
    color: #5B636D;
}
 .client-name{
    

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    
    color: #24303E;
}

.client-card span{

    
   
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    
    text-align: center;
    letter-spacing: -0.1px;
    
    color: #A7AAAD;
    }
.standout-images-container{

/* height: calc(188px *2); */
display: flex;
flex-direction: row;
flex-basis: 50%;

flex-wrap:wrap;
height: 375px;
}
.standout-images-container img{
height: 188px;
 width: 50%; 
}
footer{
    height: 206px;
    background: #90D4C6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    /* align-items: center; */
}
.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-nav svg{
    margin-bottom: 20px;
}
.footer-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    
    letter-spacing: -0.128571px;
    
    color: #458D7E;
    list-style: none;
    
}
.social-icon-container{
    display: flex;
    justify-content:space-around;
    width: 164px;
    align-self: center;
}
/* js added classes */
.active{
    position: absolute;
    top: 0;
    margin-top: 26px;
    padding-top: 63px;
    padding-bottom: 39px;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: red;
    height:329px;
    width: 100%;
    align-items: center;
    background-image: url('../images/mobile/mobile_nav_bg_white.png');
    /* background-image: url('../images/mobile/mobile_nav_bg_org.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media  screen and (min-width:501px) {
    
}